body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #EEEEEE;
}

.toggler {
  width: 50px;
  height: 50px;
}

/* site title */
.title {
  margin-top: 200px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 119px;
  line-height: 157px;
  font-family: Clicker Script;
  color: #664E00;
}
.desc {
  font-style: normal;
  font-weight: normal;
  font-size: 37px;
  line-height: 50px;
  text-transform: uppercase;
  position: relative;
  top: -40px;
  text-align: center;
}
.social {
  display: flex;
  justify-content: center;
}
.social span {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-left: 3%;
  padding: 0.5rem;
  border: 2px solid #ADB901;
}
.bg-light {
  background-color: #EFEFEF !important;
  z-index: 999;
}

.logo {
  font-family: Clicker Script;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 66px;
  color: #E6B001;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

nav .active {
  border-bottom-color: 2px solid #FCC139 !important;
}
nav li {
  margin-left: 3%;
}

nav a {
  margin: 0 10px;
}
.padding-top {
  margin-top: 15px;
}
.hero-img-div {
  background: url('/assets/images/logo.png') no-repeat 0.0 ;
    background-size: contain;
    height: 50vh;
    z-index: 1;
}
.circle {
  height: 350px;
  width: 350px;
  background: rgba(173, 185, 1, 0.1);
  border: 9px solid rgba(255, 197, 1, 0.2);
  border-radius: 50%;
  position: absolute;
  right: 40%;
  top: 420px;
  z-index: 999;
}
.center {
  text-align: center;
  color: #E6B001;
  font-size: 34px;
  position: relative;
  top: -40px;
  word-spacing: .5rem;
  line-height: normal;
}
.blog-post button {
  background: #ADB901 !important;
  color: #FFFFFF;
  border: none !important;
  padding: 5px 20px !important;
  page-break-after: 0 30px !important;
  border-radius: 0 !important;
}
.about {
  background: linear-gradient(34.34deg, #A7B2C3 19.51%, #CCD5DF 31.73%, #D5DEE6 50.37%, #D5DEE6 64.83%);
}
.about img {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.about a::before {
  content: "______";
  top: -8px;
  position: relative;
  font-weight: bolder;
  color: #FECC99;
}

.about p {
  padding: 0 0 10px 0;
  font-family: Airbnb Cereal App;
  color: #FECC99;
}
.abt-padding {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 300;
  color: #664E00 !important;
}
.about .dec {
  font-family: Clicker Script;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: #CC9D01;
  padding-top: 200px;
}
/* PORTFOLIO */

.portfolio {
  padding: 50px auto;
  background: #fff;
}

.portfolio h4 {
  font-family: Clicker Script;
  text-align: center;
  padding-top: 50px;
  display: block;
}
.portfolio span {
  color: #FCC139;
  top: -30px;
  position: relative;
  font-weight: bolder;
  /* line-height: -10; */
  font-size: 2em;
  text-align: center;
}

.portfolio .port-space {
  width: 100%;
  margin: 10%;
}

.blog-post {
  background: #fff;
  padding: 100px 0;
}
.blog-post h2 {
  text-align: center;
  font-family: Clicker Script;
  display: block;
}
.blog-post span {
  color: #FCC139;
  top: -30px;
  position: relative;
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
}
.blog {
  background: rgba(0, 0, 0, 0.5);
  color: #ffff;
  margin: 10px;
  top: 200px;
}
.contact {
  padding: 130px 0;
  background-color: #fff;
}
.contact h3 {
  font-family: Clicker Script;
  color: #000;
}
.contact span {
  color: #FCC139;
  top: -70px;
  position: relative;
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
}
.contact img {
  width: 100%
}

.contact .bg_img {
  background: url('/assets/images/contact-image-1.png') no-repeat right center,
  url('/assets/images/contact-image-2.png') no-repeat left center;
  background-size: contain contain;
  display: flex;
  justify-content: space-around;
  padding: 0;
  background-blend-mode: hue;
}
.contact input, .contact textarea, form {
  padding: 20px;
  font-family: Nunito Sans;
  width: 100%;
  margin: auto;
  background: transparent;
}

footer {
  width: 100%;
  padding: 15px 0 0 0;
  background: #BBC443;
  bottom: 0;
  margin: 0;
}
footer p {
  font-family: Clicker Script;
  color: #FFFFFF;
  font-size: 27px;
}
.footer-icon {
  border-radius: 50%;
  display: flex;
  width: fit-content;
  padding: 0.5rem;
  border: 2px solid #fff;
}

.testimonial-img {
  width: 85px;
  height: 90px;
  border-radius: 50%;
}

.feature {
  margin: 50px auto;
}
.recent-project-title{
  padding: 40px 0 0 0;
  color: #fff;
}
.recent-project-paddings {
  padding-bottom: 40px;
}
.recent-project-filler {
    padding: 40px 0 0 0;
    background-color: #F6F6F6;
}
.recent-project-paddings img {
  width: 100%;
  margin: 5px auto;
}
.testimonial {
  background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url('../images/rectangle57.png');
}
.cards {
  border: none !important;
}

.parallax {
	background: linear-gradient(rgba(0, 0, 0, .9),
  rgba(0, 0, 0, .9)), url('../images/rectangle56.png');
}
.cards-body {
  padding: 15px 0;
  background-color: inherit !important;
}
.cards-body-news {
  padding: 15px 0;
  background: #F6F6F6;
  border: 2px solid blue;
}
#blog {
  padding-top: 80px;
}

.blog-div {
  background: #F6F6F6;
  padding: 0 1.5rem 0 1.5rem;
}
.blog-div h2 {
  color: #000;
}
.after::after {
  content: '______';
  color: #FCC139;
  top: -40px;
  position: relative;
  font-weight: bolder;
  line-height: -10;
  font-size: 2em;
}

.services {
  background-color: #fff;

}
/* Carousel */
.carousel-nav-icon {
   height: 48px;
   width: 48px;
}
.carousel-item
   .col, .col-sm, .col-md {
      margin: 8px;
      height: 300px;
      background-size: cover;
      background-position: center center;
   }

/* nothing below this point is needed*/
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,600,700,800,900&display=swap');

h1 {
   font-family: 'Libre Franklin', sans-serif;
   font-weight: 700;
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (min-width: 768px) {
  .hero-img-div {
      background-size: cover;
      height: 100vh;
      z-index: 1;
  }
  .contact input, .contact textarea, form {
    padding: 20px;
    width: 60%;
  }

  .contact .bg_img {
    padding: 5rem;
  }
}
